
.Navbar{
  position: fixed;
  top: 0;
  text-align: right;
  list-style: none;
  background-color: transparent;
  font-size: 2em;
  padding-right: 20px;
  display: inline;
}

.mainPage{
  height: 100vh;
  background-color:  #ffffff;
}

.projectsPage{
  height: 100vh;
  background-color:  #F5D76E;
}

.aboutPage{
  height: 100vh;
  background-color:  #7dc2af;
}

.interestsPage{
  height: 100vh;
  background-color:  #e27D60;
}

.logosMain{
  width: 2rem;
  color: grey;
  opacity: .8;
  justify-content: space-evenly;
}

.buttonMain{
  background-color: #43C6AC;
  border: 0px;
  margin-right: 4em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}
.buttonSub{
  size: 200px;
  background-color: #FFFF;
  color: #43C6AC;
  border-width: 0px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.Button{
  outline: none;
  outline-width: 0px;
  outline-color: transparent;
  border-width: 0px;
}

.inner{
  text-align: center;
  position: relative;
  top: 30vh;
  left: 0;
  width: 100%;
  height: 100%;
}
.h1{
  margin-bottom: 0%
}
.mainPageText{
  margin-bottom: 5em
}
.mainButtons{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center
}