@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Oxygen|Roboto|Rubik&display=swap');

.Navbar{
  position: fixed;
  top: 0;
  text-align: right;
  list-style: none;
  background-color: transparent;
  font-size: 2em;
  padding-right: 20px;
  display: inline;
}


.mainPage{
  height: 100vh;
  background-color:  #ffffff;
}

.projectsPage{
  height: 100vh;
  background-color:  #F5D76E;
}

.aboutPage{
  height: 100vh;
  background-color:  #7dc2af;
}

.interestsPage{
  height: 100vh;
  background-color:  #e27D60;
}

.logosMain{
  width: 2rem;
  color: grey;
  display: inline-block;
  margin-top:10em;
  opacity: .8;
  justify-content: space-evenly;
}

.logos{
  color: grey;
  opacity: .8;
  width: 1.5rem;
  margin-right: 2em;
}

.MePage{
  height: 100vh;
  background-color:  #ffffff;
}
.headshot{
  width: 33em;
}

.buttonMain{
  background-color: #43C6AC;
  border: 0px;
  margin-inline-end: 2em;
  font-size: 18pt;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}
.buttonSub{
  background-color: #FFFF;
  color: #43C6AC;
  font-size: 18pt;
  border-width: 0px;
  margin-inline-end: 2em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.Button{
  outline: none;
  outline-width: 0px;
  outline-color: transparent;
  border-width: 0px;
}

.inner{
  text-align: center;
  position: relative;
  top: 30vh;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mainPageText>h1{
  font-family: 'Montserrat';  
  margin-bottom: 0%
}
.btn-primary{
  font-family: 'Montserrat';  

  padding: 9px;
}

.PageDesc{
  margin: 0pt;
}

.mainPageText {
  margin-bottom: 5em
}
.linksMain,.linksMain>div>a{
  text-align: center;
  position: relative;
  justify-content: center
}
.mainPageText>p{
  text-align: center;
  font-family: 'Montserrat';  
  justify-content: center;
  margin-right: 2.5em;

}

.mainButtons{
  
  justify-content: space-between;
}

.abt{
  justify-content: center;
  text-align: center;
}